body
{
    background:linear-gradient(to right,rgb(132, 0, 255),rgb(153, 63, 174),rgb(202, 67, 150));
    font-family: arial,ans-serif;
    color:white;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1
{
  font-size: 2em;
  text-align: center;
}